albumentations==1.4.7
beautifulsoup4==4.11.2
clip==0.2.0
comet_ml==3.42.0
coremltools==7.2
dill==0.3.8
duckdb==0.10.2
dvclive==3.46.0
hub_sdk==0.0.8
ipython==8.12.3
lancedb==0.6.13
lap==0.4.0
matplotlib==3.5.1
mss==9.0.1
ncnn==1.0.20240410
nncf==2.10.0
numpy==1.26.4
onnx==1.16.0
onnxruntime==1.17.3
onnxsim==0.4.36
openai==1.30.1
opencv_contrib_python==4.4.0.46
opencv_python==4.9.0.80
openvino==2024.1.0
pafy==0.5.5
pandas==1.2.4
Pillow==8.4.0
protobuf==5.26.1
psutil==5.8.0
py_cpuinfo==9.0.0
pycocotools==2.0.7
pytest==8.2.0
PyYAML==5.4.1
ray==2.4.0
Requests==2.31.0
sahi==0.11.15
scipy==1.13.0
seaborn==0.11.2
sentry_sdk==2.1.1
Shapely==1.8.2
streamlit==1.34.0
streamlit_select==0.3
super_gradients==3.7.1
tensorflow==2.11.0
tensorflow_intel==2.11.0
tensorflowjs==4.19.0
tensorrt==10.0.1
tflite_runtime==2.14.0
tflite_support==0.4.4
thop==0.1.1.post2209072238
torch==2.2.1+cu118
torchvision==0.17.1+cu118
tqdm==4.64.0
tritonclient==2.45.0
wandb==0.17.0
x2paddle==1.4.1
yt_dlp==2024.4.9
